    
@media screen and (max-width: 425px) {
    body{
        background-color:  hsl(30, 38%, 92%);
        padding: 50px 10px;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        max-width: 1000px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    
    
     
    }
    .product{
        display: none;
        
    }

    .picture{
      display: inline;
    }
    .image{
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
    .main-content{
        background-color:  hsl(0, 0%, 100%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: auto;
        height: 100%;
        padding: 30px;
        margin-top: -4px;
      
    }
    .heading h1{
        font-size: 16px;
        color:  hsl(228, 12%, 48%);
    }
    b{
        font-size: 32px;
        color:  hsl(212, 21%, 14%);
        
       
    }
    .content{
        font-size: 22px;
        color:  hsl(228, 12%, 48%);
        line-height: 1.3;
    }
    .num{
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .num h1{
        color:  hsl(158, 36%, 37%);
    }
    .num h2{
        color:  hsl(228, 12%, 48%);
        font-size: 16px;
    }
    
    .btn{
        color:  hsl(0, 0%, 100%);
        display: flex;
        column-gap: 10px;
        align-items: center;
        background-color:  hsl(158, 36%, 37%);
        width: 100%;
        text-align: center;
        border: none;
        padding: 5px 5px;
        border-radius: 10px;
    
    
    }
     
    .icon{
        display: flex;
        align-items: center;
        gap: 10px;
         margin-left: 6rem;
    
        
    }

    
}