body{
    background-color:  hsl(30, 38%, 92%);
    padding: 55px;
    justify-content: center;
    align-items: center;
    margin: 1rem 16rem;
    width: 100%;
    max-width: 1000px;
    font-family: "Montserrat", sans-serif;
    
}
.container{
    display: flex;
    justify-items: center;
    align-items: center;


 
}
.product{
    width: 330px;
    height: 530px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.picture{
    display: none;
}
.main-content{
    background-color:  hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 290px;
    height: 470px;
    padding: 30px;
  
}
.heading h1{
    font-size: 14px;
    color:  hsl(228, 12%, 48%);
}
b{
    font-size: 40px;
    color:  hsl(212, 21%, 14%);
    
   
}
.content{
    font-size: 18px;
    color:  hsl(228, 12%, 48%);
    line-height: 1.5;
}
.num{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.num h1{
    color:  hsl(158, 36%, 37%);
}
.num h2{
    color:  hsl(228, 12%, 48%);
    font-size: 16px;
}

.btn{
    color:  hsl(0, 0%, 100%);
    display: flex;
    column-gap: 10px;
    align-items: center;
    background-color:  hsl(158, 36%, 37%);
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: bold;



}
 
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
     margin-left: 5rem;
     font-size: 16px;


    
}